body {
    background-color: green;
    font-size: 3em;
    font-family: Impact, Charcoal, sans-serif;
}

.main {
    background: white;
    max-width: 220px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px
}

.content {
    margin-top: -15px;
    margin-bottom: -15px;
    height: 420px;
}

.top {
    padding: 0px 2px;
    height: 20px;
}

.bot .heart::after {
    content: "\2665";
    color: red;
}

.bot .spade::after {
    content: "\2660";
}

.bot .diamo::after {
    content: "\2666";
    color: red;
}

.bot .clubs::after {
    content: "\2663";
}

.mid {
    height: 120px;
    padding: 130px 0px;
    text-align: center;
    font-size: 100px;
}

.bot {
    padding: 0px 2px;
    height: 20px;
    transform: rotate(180deg);
}

.heart::before {
    content: "\2665";
    color: red;
}

.spade::before {
    content: "\2660";
}

.diamo::before {
    content: "\2666";
    color: red;
}

.clubs::before {
    content: "\2663";
}