body {
    background-color: green;
    font-size: 5em;
    font-family: Impact, Charcoal, sans-serif;
}

.main {
    background: white;
    max-width: 230px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 20px;
}

.content {
    margin-top: -10px;
    margin-bottom: -10px;
    height: 500px;
}

.top {
    padding: 0px 10px;
    height: 20px;
}

.bot .heart::after {
    content: "\2665";
    color: red;
}

.bot .spade::after {
    content: "\2660";
}

.bot .diamo::after {
    content: "\2666";
    color: red;
}

.bot .clubs::after {
    content: "\2663";
}

.mid {
    height: 140px;
    padding: 160px 0px;
    text-align: center;
    font-size: 100px;
}

.bot {
    padding: 0px 10px;
    height: 20px;
    transform: rotate(180deg);
}

.heart::before {
    content: "\2665";
    color: red;
}

.spade::before {
    content: "\2660";
}

.diamo::before {
    content: "\2666";
    color: red;
}

.clubs::before {
    content: "\2663";
}